name: Build advent-of-code C solutions

on:
  pull_request:
    branches: ["main"]
    paths:
      - "**/c/**"

jobs:
  build:
    strategy:
      matrix:
        dir: ["2023/c"]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: CMake Setup
        working-directory: ${{github.workspace}}/${{matrix.dir}}
        run: cmake -B ${{github.workspace}}/${{matrix.dir}}/build

      - name: CMake Build
        working-directory: ${{github.workspace}}/${{matrix.dir}}
        run: cmake --build ${{github.workspace}}/${{matrix.dir}}/build

      - name: Run CTest
        working-directory: ${{github.workspace}}/${{matrix.dir}}/build
        run: ctest --output-on-failure
