name: Go Workflow
on:
  pull_request:
    branches:
      - main

jobs:
  generate-matrix:
    name: Generate job matrices
    runs-on: ubuntu-latest
    outputs:
      matrix-go: ${{ steps.go.outputs.matrix }}
    steps:
      - name: Generate matrix | Go
        id: go
        uses: hellofresh/action-changed-files@v3
        with:
          pattern: (?P<year>[\d^/]+)/go/(?P<day>[^/]+)

  test:
    name: Run Go Tests
    runs-on: ubuntu-latest
    needs: [generate-matrix]
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix-go) }}
    if: ${{ fromJson(needs.generate-matrix.outputs.matrix-go).include[0] }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - name: Run tests
        run: go test -v ${{ matrix.year }}/go/${{ matrix.day }}
